* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif;
    color: #222;
    font-size: 20px;
}

/* Fondo y cuerpo */
html, body {
    height: 100%;
    background-color: #dc1c1c !important;
    color: #222;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.navbar-logo img {
    height: 80px;
    width: auto;
    object-fit: contain;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 0;
}

/* Menu personalizado */
.menu-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-item:hover {
    background-color: #012;
    color: white;
}

.menu-item .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #8A2E8D;
    list-style: none;
    border-radius: 6px;
    min-width: 170px;
    box-shadow: 0 3px 10px #BF1E2E;
    padding: 10px 0;
    z-index: 10;
}

.menu-item:hover .dropdown {
    display: block;
}

.menu-item .dropdown li a {
    display: block;
    padding: 10px 20px;
    color: #FAFAFA;
    text-decoration: none;
    font-size: 16px;
}

.menu-item .dropdown li a:hover {
    background-color: #BF1E2E;
}

/* Footer */
.site-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4vh;
    background-color: #2A388F;
    color: #FAFAFA;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background-color: #FAFAFA;
}


html, body {
    height: 100%;
    margin: 0;
    background-color: #dc1c1c;
    color: #222;
    font-family: 'Pathway Gothic One', sans-serif;
}

/* Footer */
.site-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #FAFAFA;
}
