{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Clientes{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">

  <div id="subtitle">Lista De Clientes</div>

    <div class="contenedor">
        <!-- Contenido temporal de la base de datos -->
        <table class="custom-table">
          
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.contacto }}</td>
            <td>
                <a href="{% url 'actualizarCliente' cliente.idcliente %}"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>

  </section>
{% endblock %}

{% block regresar %}
<li><a href="{% url 'catalogos' %}"><i class="fa-solid fa-folder-open"></i> Regresar</a></li>
<li><a href="{% url 'formCliente' %}"><i class="fa-solid fa-folder-open"></i> Agregar Cliente</a></li>
{% endblock %}
