{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Modelos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">
    <div id="subtitle">Lista De Modelos</div> <!--Opción de activar o desactivar dependiendo la existencia de los modelos que ocupen.-->
  
      <div class="contenedor">
        <!-- Contenido temporal de la base de datos -->
        <table class="custom-table">
          <thead>
             <tr>
            <th>ID</th>
            <th>Folio</th>
            <th>Modelo</th>
            <th>Cantidad de Hilo</th>
            <th>Acciones</th>
            <th>Estatus</th>
        </tr>
          </thead>
          <tbody>
             {% for modelo in modelos %}
        <tr>
            <td>{{ modelo.id }}</td>
            <td>{{ modelo.folio }}</td>
            <td>{{ modelo.modelo }}</td>
            <td>{{ modelo.cantidadhilo }}</td>
            <td>
                <a href="{% url 'actualizarModelo' modelo.id %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'eliminarModelo' modelo.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
          </tbody>
        </table>
    </div>

  </section>

  <div class="login-nav" onclick="location.href='{% url 'formModelo' %}'">Agregar Modelo</div>
  
{% block regresar %}
<div class="opcion" onclick="location.href='{% url 'catalogos' %}'">Regresar</div>
{% endblock %}
{% endblock %}