{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Empleados{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">

  <div id="subtitle">Lista De Empleados</div>

    <div class="contenedor">
        <!-- Contenido temporal de la base de datos -->
        <table class="custom-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Área</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>      {% for empleado in empleados %}
      <tr>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.apellidos }}</td>
        <td>{{ empleado.area }}</td>
        <td>
          <a href="{% url 'actualizarEmpleado' empleado.idempleado %}">Editar</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No hay empleados registrados</td>
      </tr>
      {% endfor %}

          </tbody>
        </table>
    </div>

  </section>

  <div class="login-nav" onclick="window.location.href='{% url 'formEmpleado' %}'">Agregar</div>

  
{% endblock %}
{% block regresar %}
<div class="opcion" onclick="location.href='{% url 'catalogos' %}'">Regresar</div>
{% endblock %}
