{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Ordenes{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  
  <section class="center-area">
    <div id="subtitle">Lista De Ordenes</div>
      <div class="contenedor">
        <!-- Contenido temporal de la base de datos -->
        <table class="custom-table">
          <thead>
            <tr>
              <th>Numero de Orden</th>
              <th>Cliente</th>
              <th>Avance</th>
              <th>Pedidos</th>
              <th>Detalles</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>
            {% for orden in ordenes %}
            <tr>
              <td>{{ orden.numeroorden }}</td>
              <td>{{ orden.idcliente.nombre }}</td>
              <td>%</td>
              <td>
                {{ orden.pedidos_count }}
              </td>
              <td>
                <a href="{% url 'listaPedidos' orden_pk=orden.pk %}"><i class="fa-regular fa-eye"></i></a>
              </td>
              <td>
                <a href="{% url 'actualizarOrden' orden_pk=orden.pk %}">
                        <i class="fa-solid fa-pen-to-square"></i></a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">No hay órdenes disponibles.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

  </section>

  
  

{% endblock %}

{% block regresar %}

<li><a href="{% url 'homeAdmin' %}"><i class="fa-solid fa-folder-open"></i>Regresar</a></li>
<li><a href="{% url 'homeAdmin' %}"><i class="fa-solid fa-folder-open"></i>Ordenes Terminadas</a></li> <!-- POR HACER-->
{% endblock %}