{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Pedidos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  
  <section class="center-area">
    <div id="subtitle">Lista De Pedidos</div>
      <div class="contenedor">
        <!-- Contenido temporal de la base de datos -->
        <table class="custom-table">
          <thead>
            <tr>
              <th>ID Pedido</th>
              <th>Pedido</th>
              <th>Cliente</th>
              <th>Avance</th>
              <th>Otro</th>
              <th>Informacion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>100000000000000</td>
              <td>20100000000000000</td>
              <td>30100000000000000</td>
              <td>40100000000000000</td>
            </tr>
            <tr>
              <td>Progression Bar</td>
              <td>20100000000000000</td>
              <td>30100000000000000</td>
              <td>40100000000000000</td>
            </tr>
            <tr>
              <td>100000000000000</td>
              <td>20100000000000000</td>
              <td>30100000000000000</td>
              <td>40100000000000000</td>
            </tr>
            <tr>
              <td>Progression Bar</td>
              <td>20100000000000000</td>
              <td>30100000000000000</td>
              <td><a href="{% url 'pedidoEspecifico' %}">Información de pedido</a></td>
            </tr>
          </tbody>
        </table>
    </div>

  </section>

  <div class="login-nav">Pedidos Terminados</div>
  
{% block regresar %}
<div class="opcion" onclick="location.href='{% url 'homeAdmin' %}'">Regresar</div>
{% endblock %}
{% endblock %}