{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Modelos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">
    <div id="subtitle">Lista De Modelos</div> <!--Opción de activar o desactivar dependiendo la existencia de los modelos que ocupen.-->
  
      <div class="contenedor">
        <!-- Contenido temporal de la base de datos -->
        <table class="custom-table">
          <thead>
             <tr>
            <th>ID</th>
            <th>Folio</th>
            <th>Modelo</th>
            <th>Cantidad de Hilo</th>
            <th>Acciones</th>
        </tr>
          </thead>
          <tbody>
             {% for modelo in modelos %}
        <tr>
            <td>{{ modelo.idmodelo }}</td>
            <td>{{ modelo.folio }}</td>
            <td>{{ modelo.modelo }}</td>
            <td>{{ modelo.cantidadhilo }}</td>
            <td>
              {% if perms.app.change_modelo %}
              <a href="{% url 'actualizarModelo' modelo.idmodelo %}" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
              {% endif %}
              {% comment %} <a href="{% url 'eliminarModelo' modelo.idmodelo %}" class="btn btn-sm btn-danger">Eliminar</a> {% endcomment %}
            </td>
        </tr>
        {% endfor %}
          </tbody>
        </table>
    </div>

  </section>
{% endblock %}
{% block regresar %}
<li><a href="{% url 'catalogos' %}"><i class="fa-solid fa-folder-open"></i> Regresar</a></li>
{% if perms.app.add_modelo %}
<li><a href="{% url 'formModelo' %}"><i class="fa-solid fa-folder-open"></i> Agregar Modelo</a></li>
{% endif %}
{% endblock %}
