{% extends 'base.html' %}
{% load static %}

{% block title %}Catálogos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/catalogos.css' %}">
{% endblock %}

{% block content %}
<div class="catalogos-wrapper">
  <div class="cards-grid">
    <div class="card" onclick="location.href='{% url 'modelos' %}'">
      <h1>MODELOS</h1>
      <p>Gestiona los modelos.</p>
    </div>
    <div class="card" onclick="location.href='{% url 'empleados' %}'">
      <h1>EMPLEADOS</h1>
      <p>Lista y administración.</p>
    </div>
    <div class="card" onclick="location.href='{% url 'maquinas' %}'">
      <h1>MÁQUINAS</h1>
      <p>Control de máquinas.</p>
    </div>
    <div class="card" onclick="location.href='{% url 'clientes' %}'">
      <h1>CLIENTES</h1>
      <p>Control de clientes.</p>
    </div>
    
  </div>
</div>

{% endblock %}
{% block regresar %}
<div class="opcion" onclick="location.href='{% url 'homeAdmin' %}'">Regresar</div>
{% endblock %}