{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio Encargado{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/homeAdmin.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">
    <div class="left-panel">
      <div class="contenedor">
        <!-- Contenido temporal de la base de datos -->
         <div id="subtitle">Ordenes Prioritarias(!!!!!!)</div>
        <table class="custom-table">
          <thead>
            <tr>
              <th>Numero Orden</th>
              <th>Cliente</th>
              <th>Fecha Inicio</th>
              <th>Fecha Fin</th>
              <th>Avance</th>
            </tr>
          </thead>
          <tbody>
            {% for orden in ordenes_prioritarias %}
            <tr>
              <td>{{ orden.numeroorden }}</td>
              <td>{{ orden.idcliente.nombre }}</td>
              <td>{{ orden.fechainicio|date:"d/m/Y H:i" }}</td>
              <td>
                {% if orden.fechafin %}
                  {{ orden.fechafin|date:"d/m/Y H:i" }}
                {% else %}
                  N/A
                {% endif %}
              </td>
              <td>{{ orden.avance }}%</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">No hay órdenes prioritarias disponibles.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="right-panel">
      <div class="menu-row">
        <div class="menu-opt" onclick="location.href='{% url 'listaOrdenes' %}'">LISTA DE ORDENES</div>
        <div class="menu-opt" onclick="location.href='{% url 'crearOrden' %}'">REGISTRAR ORDEN</div>
        <div class="menu-opt" onclick="location.href='{% url 'reportes' %}'">REPORTES</div>
        <div class="menu-opt" onclick="location.href='{% url 'catalogos' %}'">CATÁLOGOS</div>
      </div>
    </div>
  </section>

{% endblock %}
{% block regresar %}
<li><a href="{% url 'login' %}"><i class="fa-solid fa-folder-open"></i> Regresar</a></li>
{% endblock %}