{% load static %}

<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Inicio de Sesión</title>
  <link rel="stylesheet" href="{% static 'css/genericas/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/genericas/general.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>

<body>
  <header>
    <img src="{% static 'images/LOGO_TREX.jpg' %}" alt="Logo">
  </header>

  <nav class="nav">
  <div class="brand">
    <span class="letter1">T</span>
    <span class="letter2">R</span>
    <span class="letter3">E</span>
    <span class="letter4">X</span>
  </div>

  <ul class="nav-links">
    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
    <li class="menu-item">
      <i class="fa-solid fa-bars"></i>
      <ul class="dropdown">
         <li><a href="{% url 'listaPedidos' %}">Pedidos</a></li>
         <li><a href="{% url 'login' %}">Reportes</a></li>
         <li><a href="{% url 'login' %}">Catalogos</a></li>
      </ul>
    </li>
  </ul>
</nav>

  <div class="login-container">
    <h2>Inicio de Sesión</h2>
    
    <form action="{% url 'homeAdmin' %}" method="get" id="form">
  <input type="text" name="usuario" placeholder="Usuario" required>
  <input type="password" name="password" placeholder="Contraseña" required>
  <button type="submit">Ingresar</button>
</form>

  </div>

  <footer class="site-footer">
  <div>Trex</div>
</footer>

</body>
</html>
