{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/genericas/login.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet" />
  </head>
  <body>
  <nav class="navbar">
    <div class="navbar-container">
    <div class="navbar-logo">
      <img src="{% static 'images/LOGO_TREX.jpg' %}" alt="Logo">
    </div>


    </div>
  </nav>

  <div class="sidebar">
    <ul>
        <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Regresar</a></li>
    </ul>
</div>

<main class="page">
  <section class="center-area">
    <div class="login-nav">
      <div class="login-container">
        <h2>Inicio de Sesión</h2>
        <form action="{% url 'login' %}" method="post" id="form">
          {% csrf_token %}
          {% if error %}
            <div class="error">{{ error }}</div>
          {% endif %}
          <label for="">Ingresa tu usuario:</label>
          <input type="text" name="username" placeholder="Usuario" required />
          <label for="">Ingresa tu contraseña:</label>
          <input type="password" name="password" placeholder="Contraseña" required />
          <input type="hidden" name="next" value="{{ request.GET.next }}" />
          <button type="submit" class="login-nav">Ingresar</button>
        </form>
      </div>
    </div>
  </section>  
</main>

<footer class="site-footer">Trex</footer>

</body>
</html>