{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/genericas/base.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap" rel="stylesheet" />
  </head>
  <body>

  <nav class="navbar">
    <div class="navbar-container">
    <div class="navbar-logo">
      <img src="{% static 'images/LOGO_TREX.jpg' %}" alt="Logo">
    </div>

    <div class="login-nav" onclick="location.href='{% url 'login' %}'">
      <ul>
        <li>Iniciar Sesión</li>
      </ul>
    </div>
    </div>
  </nav>

<main class="page">
  <section class="center-area">
    <div class="menu-row">
      <div class="menu-opt" onclick="location.href='{% url 'tejido' %}'">TEJIDO</div>
      <div class="menu-opt" onclick="location.href='{% url 'plancha' %}'">PLANCHA</div>
      <div class="menu-opt" onclick="location.href='{% url 'corte' %}'">CORTE</div>
      <div class="menu-opt" onclick="location.href='{% url 'empaquetado' %}'">EMPAQUETADO</div>
    </div>
  </section>  
</main>

<footer class="site-footer">Trex</footer>

</body>
</html>
