{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Orden{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">
    <div id="subtitle">Agregar Orden</div> <!--Opción de activar o desactivar dependiendo la existencia de los modelos que ocupen.-->
  
      <div class="contenedor">
        {% comment %} <a href="{% url 'formModelo' %}" class="btn btn-primary mb-3">Agregar Modelo</a> {% endcomment %}

        <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit" class="btn btn-success">Guardar</button>

      <div class="login-nav"><a href="{% url 'homeAdmin' %}">Cancelar</a></div>
</form>
    </div>

  </section>

{% endblock %}