{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Modelo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">
        {% if object %}
    <div id="subtitle">Editar Modelo</div>
{% else %}
    <div id="subtitle">Agregar Modelo</div>
{% endif %}
 <!--Opción de activar o desactivar dependiendo la existencia de los modelos que ocupen.-->
  
      <div class="contenedor">
        {% comment %} <a href="{% url 'formModelo' %}" class="btn btn-primary mb-3">Agregar Modelo</a> {% endcomment %}
<form method="post">
    {% csrf_token %}
  {% include 'administrador/forms/_catalogo_fields.html' %}
      <div class="form-actions">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'modelos' %}" class="btn-cancel">Cancelar</a>
      </div>
</form>
    </div>

  </section>

{% endblock %}