{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Cliente{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}


{% block content %}
  <section class="center-area">

     <div id="subtitle">{% if object %}Actualizar{% else %}Registrar{% endif %} Cliente</div>
        
      <div class="contenedor">

<form method="post">
    {% csrf_token %}
  {% include 'administrador/forms/_catalogo_fields.html' %}
    <div class="form-actions">
      <button type="submit" class="btn btn-success">{% if object %}Actualizar{% else %}Registrar{% endif %}</button>
      <a href="{% url 'clientes' %}" class="btn-cancel">Cancelar</a>
    </div>
</form>


    </div>

  </section>

  
{% endblock %}