{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Orden{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}


{% block content %}
  <section class="center-area">

    {% if object %}
    <div id="subtitle">Editar Orden</div>
{% else %}
    <div id="subtitle">Agregar Orden</div>
{% endif %}
  
        {% comment %} <a href="{% url 'formModelo' %}" class="btn btn-primary mb-3">Agregar Modelo</a> {% endcomment %}

        <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <div class="form-actions">
          <button type="submit" class="btn btn-success">Guardar</button>
          {% if object %}
            <a href="{% url 'eliminarOrden' orden_pk=object.pk %}" class="btn btn-danger">Eliminar</a>
          {% endif %}
          <a href="{% url 'homeAdmin' %}" class="btn-cancel">Cancelar</a>
        </div>

</form>

  </section>

{% endblock %}

{% block regresar %}{% endblock %}