{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Modelo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">

{% if object %}
    <div id="subtitle">Actualizar Empleado</div>
{% else %}
    <div id="subtitle">Registrar Empleado</div>
{% endif %}
      <div class="contenedor">
        <form method="post">
    {% csrf_token %}
      {% include 'administrador/forms/_catalogo_fields.html' %}
    <div class="form-actions">
      <button type="submit" class="btn btn-success">{% if object %}Actualizar{% else %}Registrar{% endif %}</button>
      <a href="{% url 'empleados' %}" class="btn-cancel">Cancelar</a>
    </div>
</form>
    </div>

  </section>

{% endblock %}