{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Modelo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">

{% if object %}
    <div id="subtitle">Actualizar Empleado</div>
{% else %}
    <div id="subtitle">Registrar Empleado</div>
{% endif %}
      <div class="contenedor">
        <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">{% if object %}Actualizar{% else %}Registrar{% endif %}</button>
          <div class="login-nav menor"><a href="{% url 'empleados' %}">Cancelar</a></div>
</form>
    </div>

  </section>

{% endblock %}