{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Maquina{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/administrador/listados.css' %}">
{% endblock %}

{% block content %}
  <section class="center-area">

<div id="subtitle">{% if object %}Actualizar{% else %}Registrar{% endif %} Máquina</div>

      <div class="contenedor">
        
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">{% if object %}Actualizar{% else %}Registrar{% endif %}</button>
    <div class="login-nav"><a href="{% url 'maquinas' %}">Cancelar</a></div>
</form>
   
    </div>

  </section>

{% endblock %}
