/* Estructura general */
.left-panel{
  flex: 2; 
  background: #FAFAFA;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.right-panel{
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; 
  width: 100%; 
}

/* Tabla */
.custom-table{
  width: 80%;
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
}

.custom-table thead {
  background: linear-gradient(90deg, #2A388F, #fafafa);
  color: white;
}

.custom-table th, .custom-table td {
  padding: 12px 20px;
  text-align: center;
}

.custom-table tbody tr {
  background-color: #f9f9f9;
  transition: background 0.3s;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #e9f0f7;
}

.custom-table tbody tr:hover {
  background-color: #d0e7ff;
  cursor: pointer;
}

.custom-table th:first-child {
  border-top-left-radius: 12px;
}

.custom-table th:last-child {
  border-top-right-radius: 12px;
}

.custom-table td:first-child:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .center-area {
    flex-direction: column;
  }
}


/* Reinterpretación de las ubicadas en base.css */
.center-area{
  display: flex;           
  align-items: flex-start;     
  flex-direction: row;        
  justify-content: center;   
  align-items: flex-start;
  gap: 50px;                
  max-width: 1200px;
  margin-bottom: 10px;
  margin: 90px auto 10px; 
}

.menu-row{
  display: grid;
  grid-auto-rows: 100px;            
  width: 530px;           
  grid-template-columns: repeat(2, 250px); 
  gap: 20px 30px;  
  justify-content: flex-start; 
}

.menu-opt{
  width: 250px;
  height: 100px;
}

.menu-opt:nth-child(1){ 
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 530px;
}

.menu-opt:nth-child(2){ 
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 530px;
}

.menu-opt:nth-child(3){ 
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.menu-opt:nth-child(4){ 
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}